<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> App</title>
</head>
<body>
    <h1>At foo bar</h1>
    <h2>meal: <%= food.name %></h2>
    <h3>price: <%= food.price %></h3>
    <img src="<%= food.image %>" alt="" class="src"/>
    <style type="text">
        body {
            color: red;
            background-color: black;
        }
        
    </style>
    <a href="/food">Back to Index</a>
</body>
</html>